.about {
    display: flex;
    height: 90vh;
    margin: 9rem 0;
}
.awesome {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.awesome span {
    color: var(--first-color);
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 200;
}
.awesome p {
    color: var(--gray-color);
    font-size: 14px;
    margin-block-start: .5rem;
}
.about-button {
    width: 8.5rem;
    margin-top: 1rem;
}
.cards {
    flex: 1;
}
.cards {
    position: relative;
}
.cards>* {
    position: absolute;
}
.cards .card1 {
    left: 14rem;
}
.cards .card2 {
    top: 12rem;
    left: -4rem;
}
.cards .card3 {
    top: 19rem;
    left: 16rem;
}
